.Navigation {
    text-align: center;
    font-weight: bold;
    color: aliceblue;
  }
  
  
h2{
    font-size: larger;
    margin-left: 150px;
    text-align: center;
    color: white;
    
  }

.container{
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  }

.header{
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}
  
